<template name="ovirtbuild">
  <table class="table table-hover table-bordered">
    <tbody>
    <th> Release Version </th>
    <th> RHEV Hypervisor Version </th>
    <th> Ovirt Node Version </th>
    <th> RHEVM appliance Version </th>
    <!-- {{each items}}
    <tr>
      <td>{{> item}}</td>
    </tr>
    {{/each}} -->

    <tr>
      <td> laal </td>
      <td> hahah </td>
      <td>shisis </td>
      <td>lslsl</td>
    </tr>

    <tr>
      <td> laal </td>
      <td> hahah </td>
      <td>shisis </td>
      <td>lslsl</td>
    </tr>
    </tbody>


  </table>
</template>



